<div id="<%= dom_id user %>">

  <p>
    <strong>Email:</strong>
    <input class="form-control" type="text" placeholder=<%= user.email %>>
  </p>

  <p>
    <strong>Encrypted password:</strong>
    <input class="form-control" type="text" placeholder=<%= user.encrypted_password %>>
  </p>

  <p>
    <strong>Description:</strong>
    <input class="form-control" type="text" placeholder=<%= user.description %>>
  </p>

  <p>
    <strong>First name:</strong>
    <input class="form-control" type="text" placeholder=<%= user.first_name %>>
  </p>

  <p>
    <strong>Last name:</strong>
    <input class="form-control" type="text" placeholder=<%= user.last_name %>>
  </p>

</div>

