<div id="<%= dom_id event %>">
  
  <p>
    <strong>Duration:</strong>
    <%= event.duration %>
  </p>



  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= event.start_date %></h6>
    <p class="card-text"><%= event.description %></p>
    <p class="card-text"><%= event.price %></p>
    <%= link_to "New event", new_event_path(event)%> </a>
    <%= link_to "Voir cet event", event_path(event)%> </a>
  </div>
</div>


