<p style="color: green"><%= notice %></p>

<%= render @event %>
<center>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
  <p>Cliquer sur le bouton ci-dessous pour passer au payement pour vous inscrire à l'évènement. Montant : <%= @event.price %>€</p>
  <%= button_to "Passer commande", checkout_create_path(total: @event.price), class: "btn btn-success", remote: true %>
</center>
